.gitgnore
*.zst
*.json
*.feather
*.pickle
notebooks/
venu/
.vs/
.ipynb_checkpoints/
.idea/
.git/
jupyterhub_cookie_secret
jupyterhub.sqlite
.gitattributes
Pipfile
Pipfile.lock
.idea
scripts/etc
scripts/__pycache__
scripts/.ipynb_checkpoints